<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sabbir.preneurlab.mentalwellbeing">

    <application
        android:windowSoftInputMode="stateHidden"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.sabbir.preneurlab.mentalwellbeing.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.sabbir.preneurlab.mentalwellbeing.SelfAssessment"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.sabbir.preneurlab.mentalwellbeing.AppInfoActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.sabbir.preneurlab.mentalwellbeing.HomePage"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name="com.sabbir.preneurlab.mentalwellbeing.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.sabbir.preneurlab.mentalwellbeing.MeasurementQuestion"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.sabbir.preneurlab.mentalwellbeing.GeneralQuestion"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.sabbir.preneurlab.mentalwellbeing.RememberingChildhood"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.sabbir.preneurlab.mentalwellbeing.OtherQuestions"
            android:screenOrientation="portrait">
        </activity>




        <activity android:name="com.sabbir.preneurlab.mentalwellbeing.Depression"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.sabbir.preneurlab.mentalwellbeing.DepressionResult"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.sabbir.preneurlab.mentalwellbeing.AngerIssue"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
        </activity>
        <activity android:name="com.sabbir.preneurlab.mentalwellbeing.FindOutPromptPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
        </activity>
        <activity android:name="com.sabbir.preneurlab.mentalwellbeing.Choosing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
        </activity>

    </application>

</manifest>